:root {
    --main-color: #59ab6e;
    --section-color: #212934;
    --bk-color: #e5e5e5;
    --alter-color: #212934;
    --transition: 0.4s;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

body {
    font-family: 'Oswald', sans-serif;
    /* background-image: linear-gradient(120deg, #f0eaec 0%, #e8d2d9 100%); */
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Mideum */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* large  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* !================================== */

/* ! Header  */
header {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: sticky;
    top: 0;
    z-index: 10;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 30px;
    color: var(--main-color);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media(max-width:768px) {
    nav .menuToggel {
        display: block;
    }

    .header-content {
        position: relative;
        padding: 5px;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
    }

    nav {
        position: relative;
        overflow: hidden;
    }

    nav.active {
        overflow: visible;
    }

    .header-content nav .links,
    .header-content nav .userInfo {
        position: absolute;
        top: 49px;
        width: max-content;
        right: -18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #79df93c2;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        z-index: 10;
    }

}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* After login or sign in  */
header nav ul#user_info {
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;

}

/* -------------- */
/* ! span badge for count item (notification)  */
/* -------------- */
header nav ul#user_info .cart {
    position: relative;
}

header nav ul#user_info .badge {
    position: absolute;
    right: -1px;
    top: -1px;
    background-color: #fb0000;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    display: none;
}

header nav ul#user_info .products-added {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%);
    background-color: var(--bk-color);
    padding: 10px;
    white-space: nowrap;
    text-align: center;
    z-index: 5;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid var(--main-color);
    /* onclick() in js  */
    display: none;
}

header nav ul#user_info .products-added.active {
    display: block;
}

header nav ul#user_info .products-added .view-all {
    display: block;
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    text-align: center;
    margin-left: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

header nav ul#user_info .products-added .view-all:hover {
    color: var(--main-color);
    background-color: #fff;
}

@media(max-width:768px) {
    header nav ul#user_info .products-added {
        top: 10px;
        left: -200%;
    }

    header nav ul#user_info .badge {
        right: 8px;
        top: 6px;
    }
}

header nav ul#user_info .products-added p {
    margin: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul#user_info .products-added p::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: var(--main-color);
}

header nav ul#user_info .products-added p>i {
    cursor: pointer;
    margin-left: 3px;

}

/*  * ------------------------------- */
/*  * ------------------------------- */






header nav ul#user_info li:last-of-type {
    margin-left: 20px;
}

@media (max-width:768px) {
    header nav ul#user_info li {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    header nav ul#user_info li:last-of-type {
        margin: 0;
    }
}



nav ul#user_info i {
    color: #212934;
}

/* ======== */
header nav li a {
    display: block;
    color: var(--alter-color);
    margin: 0 5px;
    position: relative;
    white-space: nowrap;
    padding: 4px;
}

header nav li a::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

header nav ul#user_info a::after {
    bottom: -21px;
}

@media(max-width:768px) {
    header nav li a::after {
        bottom: 0;
    }

    header nav ul {
        background-color: #80d896d7;
    }

    header nav ul#user_info a::after {
        bottom: -5px;
    }

    header nav ul#user_info {
        padding: 10px;
    }

    header nav ul#user_info li {
        padding: 10px;
    }
}

header nav li:hover>a::after {
    width: 100%;
}

/* ! Toggel menu Lines  */
nav .menuToggel {
    display: none;
    position: relative;
    top: 20px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

@media(max-width:768px) {
    nav .menuToggel {
        display: inline-block;
    }
}

nav .menuToggel::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #555;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -o-transform: translateY(-10px);
}

nav .menuToggel::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #555;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

/* When click on Menu  */
nav.active .menuToggel::before {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}

nav.active .menuToggel::after {
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
}


/* !================================== */
/* ! Section Form  */

.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

.section-form::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 5px;
    height: 0%;
    right: 0;
    top: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

.section-form::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 5px;
    height: 0%;
    left: 0;
    bottom: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

.section-form:hover::before,
.section-form:hover::after {
    height: 100%;
}

.section-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}

.section-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0c6ce;
}

.section-form .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.section-form form label {
    font-size: 16px;
    color: var(--section-color);
}

.section-form h2 {
    letter-spacing: 1px;
    color: var(--main-color);
}

.section-form form input[type=submit] {
    font-size: 20px;
    letter-spacing: .5px;
    color: var(--main-color);
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #c0c6ce;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

.section-form form input[type=submit]:hover {
    background-color: rgb(225, 232, 233);
}

.section-form form input::placeholder {
    font-size: 14px;
}

.section-form form input:focus {
    outline: none;
}

.section-form form input:focus::placeholder {
    color: transparent;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
}

/* ----------- responsive form  */
@media(max-width:768px) {
    .section-form form input[type=submit] {
        font-size: 16px;
    }

    .section-form form label {
        font-size: 14px;
    }

    .section-form form {
        width: 90%;
        gap: 16px;
    }

    .section-form form input {
        width: 100%;
        padding: 7px;
    }

    .section-form {
        width: 80%;
    }

    .section-form .form-control {
        gap: 5px;
    }
}

/* --- Styling Icon and validation */
.section-form .form-control {
    position: relative;
}

.section-form .form-control i {
    position: absolute;
    right: 10px;
    top: 60%;
    visibility: hidden;
}

.section-form .form-control i#togglePassword {
    position: absolute;
    top: 60%;
    right: 35px;
    visibility: visible;
}

.section-form .form-control small {
    position: absolute;
    right: 10px;
    top: 110%;
    visibility: hidden;
}

.section-form .success input {
    border: 2px solid var(--main-color);
}

.section-form .success i.fa-circle-check {
    color: var(--main-color);
    visibility: visible;
}

.section-form .error input {
    border: 2px solid rgb(243, 35, 35);
}

.section-form .error i.fa-circle-exclamation {
    color: rgb(243, 35, 35);
    visibility: visible;
}

.section-form .error small {
    visibility: visible;
    color: rgb(243, 35, 35);
}

/* ?--------------- ------------------ */
/* *     End Form Section  */
/* ?--------------- ------------------ */
/*! =============================== */
/* Section Home style  */
.home {
    margin: 10px 0 10px 0;
    height: 95vh;
    position: relative;
}

@media(max-width:768px) {
    .home {
        height: 90vh;
    }
}

.home .slide-container {
    display: flex;
    position: relative;
    width: 100%;
}

.home .slide-container .slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
    opacity: 0;
    gap: 30px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.home .slide-container .active {
    opacity: 1;
}

/* slide number  */
.slide-container .slide-number {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: var(--section-color);
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    z-index: 2;
}

/* slider control  */
.home {
    position: relative;
    /* z-index: -1; */
}

.home .slider-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

@media(max-width:768px) {
    .home .slider-control {
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
    }
}

/* next & prev  */
.home .slider-control .prev,
.home .slider-control .next {
    background-color: var(--main-color);
    color: #fff;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    margin: 0 25px;
}

.home .slider-control .prev.dis,
.home .slider-control .next.dis {
    background-color: #59ab6e90;
}

/* style indecator  ul  */
.home .slider-control .indecator ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media(max-width:768px) {
    .home .slider-control .indecator ul {
        gap: 10px;
    }
}

.home .slider-control .indecator ul li {
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-border-radius: 6px;
}

.home .slider-control .indecator ul li.active {
    background-color: var(--main-color);
    color: #fff;
}





/* styling slide content */
.home .slide .content-slide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    line-height: 2;
}


@media(max-width:768px) {
    .home .slide-container .slide {
        flex-direction: column-reverse;
        gap: 0;
    }

    .home .slide .content-slide {
        justify-content: center;
        align-items: center;
        line-height: normal;
        text-align: center;
        gap: 3px;
    }

    .home .slide .content-slide h3 {
        font-size: 16px;
    }

    .home .slide .content-slide h2 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .home .slide .content-slide p {
        font-size: 14px;
        columns: 1;
        line-height: 1.1;
    }
}

.home .slide .image-slide {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 10px;
}

.home .slide .image-slide img {
    object-fit: cover;
    height: 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}

@media(max-width:768px) {
    .home .slide .image-slide {
        justify-content: center;
    }

    .home .slide .image-slide img {
        height: 350px;
        object-fit: cover;
        width: 100%;
    }
}

/* ?--------------- ------------------ */
/* *     End Home Section  */
/* ?--------------- ------------------ */
/*  Start styling Products section  */
.products-sec {
    margin: 20px 0;
    padding: 20px 0;
    background-color: #fff;
}

.products-sec .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.product-item .prod-desc h3 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--section-color);
}

.product-item .prod-desc p {
    color: var(--main-color);
    font-size: 16px;
    margin: 5px 0;
}

/* .product-item .prod-desc span {} */



.product-item .prod-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.product-item .prod-actions span {
    border-bottom: 2px solid #000000;
    padding: 5px 0;
}


.products-sec .product-item .prod-img {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-item .prod-actions .fav {
    color: var(--section-color);
    cursor: pointer;
}


/* ===============  */
.add-to-cart {
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: fit-content;
    max-width: 100%;
    background-color: var(--main-color);
    /* position: relative; */
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-to-cart:focus {
    outline: 0;
}

.add-to-cart:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.add-to-cart:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .add-to-cart {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

/* ! End Section products -----------------------  */
/* * Start Description section  */
.info {
    position: relative;
    margin:20px 0;
}

.info .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info .container img {
    width: 400px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid var(--main-color);
    border-top: 3px solid var(--main-color);
}

@media(max-width:768px) {
    .info .container {
        flex-direction: column;
        gap: 8px;
    }

    .info .container img {
        width: 300px;
    }
}

.info .descrip {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info .descrip h2 {
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    letter-spacing: 1px;
}

.info .descrip h2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 7px;
    background-color: var(--main-color);
    left: 0;
    top: 0;
}

@media(max-width:768px) {
    .info .descrip h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .info .descrip h2::after {
        width: 4px;
    }
}

.info .descrip p {
    margin-top: 10px;
    color: #555;
    letter-spacing: 0.5px;
    line-height: 2;
}

@media(max-width:768px) {
    .info .descrip p {
        font-size: 14px;
        line-height: 2;
    }
}

.info .descrip .read-more-btn {
    width: fit-content;
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 15px 0 15px;
    -webkit-border-radius: 15px 0 15px;
    -moz-border-radius: 15px 0 15px;
    -ms-border-radius: 15px 0 15px;
    transition: 0.6s;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
}

.info .descrip .read-more-btn:hover {
    background-color: var(--main-color);
    color: #fff;

}

.info .descrip .more {
    display: none;
}
.info .descrip .text.show .more {
    display: block;
}